@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary: white;
    --secondary: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: black;
        --secondary: white;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

button {
    background-color: var(--secondary);
    border: 2px solid transparent;
    color: var(--primary);
    border-radius: 8px;
    padding: 4px 16px;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
        background-color: var(--primary);
        color: var(--secondary);
        border: 2px solid var(--secondary);
    }
}

article {
    border: 2px solid var(--secondary);
    border-radius: 8px;
    margin: 8px;
    padding: 32px;
    transition: ease-in-out;
    transition-duration: 100ms;

    &:hover {
        scale: 98%;
        transition: ease-in-out;
        transition-duration: 100ms;
    }
}

article img {
    width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 8px;
    object-fit: cover;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
}

h2 {
    font-weight: 600;
}